.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.979980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.979980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.758789;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.412000px;}
.ls3{letter-spacing:-0.408000px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:0.206000px;}
.ls4{letter-spacing:7.400000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{margin-left:-11.647616px;}
._6{margin-left:-8.137152px;}
._c{margin-left:-6.462240px;}
._8{margin-left:-5.401728px;}
._4{margin-left:-3.059392px;}
._3{margin-left:-1.675296px;}
._2{width:1.275680px;}
._5{width:2.505536px;}
._1{width:6.071040px;}
._0{width:8.044128px;}
._9{width:9.428640px;}
._d{width:12.524352px;}
._7{width:46.800000px;}
._b{width:48.144000px;}
.fc2{color:rgb(155,175,181);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(38,38,38);}
.fs6{font-size:68.160000px;}
.fs7{font-size:68.256000px;}
.fs4{font-size:72.000000px;}
.fs5{font-size:72.096000px;}
.fs2{font-size:79.680000px;}
.fs1{font-size:79.776000px;}
.fs3{font-size:112.416000px;}
.fs0{font-size:151.776000px;}
.y0{bottom:0.000000px;}
.y4{bottom:113.570000px;}
.yf{bottom:116.450000px;}
.y1a{bottom:122.090000px;}
.y15{bottom:122.570000px;}
.y3{bottom:145.030000px;}
.y14{bottom:153.070000px;}
.y19{bottom:154.510000px;}
.ye{bottom:158.950000px;}
.y2{bottom:176.710000px;}
.y9{bottom:177.070000px;}
.yd{bottom:191.380000px;}
.y13{bottom:193.900000px;}
.y18{bottom:197.020000px;}
.y8{bottom:219.340000px;}
.y17{bottom:229.420000px;}
.yc{bottom:233.640000px;}
.y12{bottom:234.460000px;}
.y7{bottom:261.840000px;}
.y11{bottom:264.960000px;}
.y16{bottom:271.920000px;}
.y1{bottom:275.760000px;}
.yb{bottom:276.120000px;}
.y6{bottom:304.340000px;}
.y10{bottom:305.540000px;}
.ya{bottom:318.620000px;}
.y5{bottom:408.790000px;}
.h7{height:51.120000px;}
.h8{height:51.192000px;}
.h5{height:54.000000px;}
.h6{height:54.072000px;}
.h3{height:59.760000px;}
.h2{height:59.832000px;}
.h4{height:84.312000px;}
.h1{height:113.832000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x6{left:182.930000px;}
.x8{left:200.930000px;}
.xb{left:207.910000px;}
.x9{left:224.740000px;}
.xa{left:232.900000px;}
.x2{left:240.120000px;}
.x4{left:319.340000px;}
.x7{left:364.940000px;}
.x1{left:385.800000px;}
.x5{left:417.980000px;}
.x3{left:479.950000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.549333pt;}
.ls3{letter-spacing:-0.544000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:0.274667pt;}
.ls4{letter-spacing:9.866667pt;}
.ws0{word-spacing:0.000000pt;}
._a{margin-left:-15.530155pt;}
._6{margin-left:-10.849536pt;}
._c{margin-left:-8.616320pt;}
._8{margin-left:-7.202304pt;}
._4{margin-left:-4.079189pt;}
._3{margin-left:-2.233728pt;}
._2{width:1.700907pt;}
._5{width:3.340715pt;}
._1{width:8.094720pt;}
._0{width:10.725504pt;}
._9{width:12.571520pt;}
._d{width:16.699136pt;}
._7{width:62.400000pt;}
._b{width:64.192000pt;}
.fs6{font-size:90.880000pt;}
.fs7{font-size:91.008000pt;}
.fs4{font-size:96.000000pt;}
.fs5{font-size:96.128000pt;}
.fs2{font-size:106.240000pt;}
.fs1{font-size:106.368000pt;}
.fs3{font-size:149.888000pt;}
.fs0{font-size:202.368000pt;}
.y0{bottom:0.000000pt;}
.y4{bottom:151.426667pt;}
.yf{bottom:155.266667pt;}
.y1a{bottom:162.786667pt;}
.y15{bottom:163.426667pt;}
.y3{bottom:193.373333pt;}
.y14{bottom:204.093333pt;}
.y19{bottom:206.013333pt;}
.ye{bottom:211.933333pt;}
.y2{bottom:235.613333pt;}
.y9{bottom:236.093333pt;}
.yd{bottom:255.173333pt;}
.y13{bottom:258.533333pt;}
.y18{bottom:262.693333pt;}
.y8{bottom:292.453333pt;}
.y17{bottom:305.893333pt;}
.yc{bottom:311.520000pt;}
.y12{bottom:312.613333pt;}
.y7{bottom:349.120000pt;}
.y11{bottom:353.280000pt;}
.y16{bottom:362.560000pt;}
.y1{bottom:367.680000pt;}
.yb{bottom:368.160000pt;}
.y6{bottom:405.786667pt;}
.y10{bottom:407.386667pt;}
.ya{bottom:424.826667pt;}
.y5{bottom:545.053333pt;}
.h7{height:68.160000pt;}
.h8{height:68.256000pt;}
.h5{height:72.000000pt;}
.h6{height:72.096000pt;}
.h3{height:79.680000pt;}
.h2{height:79.776000pt;}
.h4{height:112.416000pt;}
.h1{height:151.776000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x6{left:243.906667pt;}
.x8{left:267.906667pt;}
.xb{left:277.213333pt;}
.x9{left:299.653333pt;}
.xa{left:310.533333pt;}
.x2{left:320.160000pt;}
.x4{left:425.786667pt;}
.x7{left:486.586667pt;}
.x1{left:514.400000pt;}
.x5{left:557.306667pt;}
.x3{left:639.933333pt;}
}
