.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis path {
  display: none;
}*/

#mainline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#avg50days {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

#avg250days {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
